django
djangorestframework
celery
redis
gunicorn
Pillow
PyMuPDF
python-docx
rembg
transformers
torch
sentencepiece
language-tool-python
openai-whisper
requests
aiosmtpd
Faker
python-pptx
reportlab
pdf2image
nltk